// Colors
$primaryColor: #673AB7;
$primaryColorLight: lighten(#673AB7, 20%);

// Layout
$contentMaxWidth: 960px;

// Fonts
$headerFont: 'Roboto', sans-serif;
$contentFont: 'Open Sans', sans-serif;
$lightFontWeight: 300;
$regularFontWeight: 400;