@import "variables";
@import 'compass/css3/transform';
@import 'compass/css3/border-radius';
@import 'compass/css3/box-shadow';
@import 'compass/css3/flexbox';
@import 'grid';

:local(.authentication-layout-container) {
  @include breakpoint($tabletUp) {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    width: 100%;
    overflow: visible;
  }
}

:local(.wide) {
  max-width: 500px;
}

:local(.authentication-form-container) {

  @include breakpoint($tabletUp) {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    @include border-radius(2px !important);
    overflow: visible;

    &.padded {
      padding: 20px;
    }
  }

  @include breakpoint($mobile) {
    overflow: scroll;
    height: calc(100vh - 64px);
    @include border-radius(0 !important);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0, 0) !important;
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0, 0) !important;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0, 0) !important;

    .header {
      display: none;
    }
  }

  button {
    width: 100%;
  }

  h2 {
    font-weight: 400;
  }
}

:local(.forgot-password-confirmation) {

  @include breakpoint($tabletUp) {
    text-align: center;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    @include border-radius(2px !important);
    overflow: visible;
  }

  @include breakpoint($mobile) {
    overflow: scroll;
    height: calc(100vh - 64px);
    @include border-radius(0 !important);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0, 0) !important;
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0, 0) !important;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0, 0) !important;

    .header {
      display: none;
    }
  }

  button {
    width: 100%;
  }

  h2 {
    font-weight: 400;
    color: #FFF;
    font-size: 2em;
  }

  p {
    color: #FFF;
    margin: 12px 0 12px 0;
  }
}

:local(.header) {
  height: 200px;
  width: 100%;
  position: relative;
  @include border-top-radius(2px !important);

  h2 {
    margin: 0;
    position: absolute;
    bottom: 16px;
    left: 16px;
    font-size: 3em;
    z-index: 1;
    color: #FFF;
  }

  &:after {
    content: "";
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    position: absolute;
  }
}

:local(.body) {
  padding: 0 20px 0 20px;
  position: relative;
}

:local(.layout-container) {
  height: 100vh;
  width: 100%;
  background-color: $primaryColor;
  position: relative;
}

:local(.reset-password-info) {
  padding-top: 18px;
}